{% extends 'base.html' %}

{% block main_content %}

<br>
<h1>= = = Opinion Form = = =</h1>

<form action="{{ url_for('opinionresults') }}" method="GET">
    {{ form.name.label() }}{{ form.name() }}<br>
    <br>
    {{ form.comments.label() }}{{ form.comments() }}<br>
    <br>
    {{ form.rating.label() }}{{ form.rating() }}<br>
    <br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>

<p> keep in mind that your opinions are anonymous and visible by all users, whether they are logged in or not!</p>
<p> try to include descriptions that are as detailed as possible or the exact address if you can</p>

{% endblock %}
